body.dark-theme {
  background-color: $dark-cyan;
  color: white;
  .navbar {
    background-color: black;
  }
  .footer-wrapper {
    background-color: black;
    color: white;
  }
  .card {
    background-color: #aaa;
    color: black;
  }
  ul.list-group {
    li.list-group-item {
      background-color: #aaa;
      color: black;
    }
  }
  .footer-wrapper {
    footer {
      ul.nav {
        .nav-item {
          .nav-link {
            color: white;
          }
        }
      }
    }
  }
}
