{% extends 'master.html' %}
{% block content %}
<div class="container pt-5">
    <form method="post">
        {% csrf_token %}
        <p class="alert alert-danger p-3">Confirm Deletion!</p>
        <p>Are you sure you wish to delete the document {{object.name}}?</p>
        {% if related_pages %}
        <p>Deleting this container will delete {{ related_pages|length }} associated pages.</p>
        {% else %}
        <p>There are no pages in this document.</p>
        {% endif %}
        <div class="text-center my-2">
            <input type="submit" class="btn btn-md btn-danger" value="Delete Document">
        </div>
    </form>
</div>
{% endblock %}