{% extends 'master.html' %}
{% load static %}
{% block content %}
{% include 'include/google-drive-import-folder-loading-screen.html' %}
<div class="container pt-5">
    <div class="d-flex">
        <h2 class="me-5">Choose a folder from your Google Drive account to import it as a PolyDoc container.</h2>
        <img style="width:75px; height: 75px;" src="{% static 'img/google-drive-logo.png' %}" alt="Google Drive Logo">
    </div>
     <hr class="my-3"/>
    <input type="search" title="Search for a folder by name" placeholder="Search for a folder on your Drive" class="form-control my-3" oninput="filterFolderOptions(event)">
    <div>
        {% csrf_token %}
        <div class="folder-options">
            {% for gdf in google_drive_folders %}
            <button class="btn btn-md btn-info m-2 rounded" onclick="importDriveFolderAsContainer('{{gdf.id}}', '{{gdf.name}}')" >{{gdf.name}}</button>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}