{% extends 'master.html' %}
{% block content %}
<div class="container p-5 text-center rounded my-4 md:flex align-center justify-center">
    <div class="card  bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
        <div class="card-body">
            <h5 class="card-title">Log In</h5>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-md">Log In</button>
            </form>
        </div>
    </div>

    {% endblock %}