.multiview-focus {
  /* area where you can bring one document into focus, hidden by default */
  transition: 0.3s linear;
  .notes {
    .page-notes {
      display: none;
      &.active {
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        textarea {
          display: block;
          height: 100%;
          width: 100%;
          background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
          font: normal 14px verdana;
          line-height: 25px;
          padding: 2px 10px;
          border: solid 1px #ddd;
        }
      }
    }
  }
  .document {
    .page-image {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
.multiview-page {
  .page-image {
    transition: 0.3s linear;
    &.zoom {
      transform: scale(2.5);
      position: relative;
      z-index: 1;
    }
  }
  /* notes */
  .page-notes {
    position: absolute;
    height: 0;
    width: 0;
    transition: 0.2s linear;
    textarea {
      display: none;
      height: 0%;
      width: 0%;
    }
    &.active {
      z-index: 1;
      top: 11%;
      bottom: 0;
      right: 0;
      left: 0;
      height: 80%;
      width: 100%;
      overflow-y: scroll;
      textarea {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}
