@import "./includes/colors";
@import "./includes/nav";
@import "./includes/loader";
@import "./themes/dark";
@import "./themes/light";
@import "./includes/multiview";
@import "./includes/animation";

body {
  transition: 0.3s linear;
}
.navbar-brand img {
  height: 40px;
  margin-right: 0.5rem;
}
.welcome-banner {
  img { 
    height: 120px;
  }
}
.google-drive-loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
