{% extends 'master.html' %}
{% block content %}

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            {% for doc in documents %}
            <div class="multiview-document {% if forloop.counter == 1 %} active {% endif %}" data-bs-placement="right"
                data-bs-toggle="tooltip" type="button" title="Click to bring this document into focus on the right"
                data-docindex="{{forloop.counter}}" data-docid="{{doc.id}}" data-currentpage="1" id="doc-{{doc.id}}">
                {% for page in doc.pages %}
                <div class="card w-100 multiview-page border border-dark rounded {% if forloop.counter != 1 %} d-none {% endif %} "
                    data-pageindex="{{forloop.counter}}">
                    <div class="card-body">
                        <div class="page-image">
                            <img src="{% if use_s3 %} {{page.s3_private_image_url}} {% else %} {{page.image.url}} {% endif %}" id="page-{{page.id}}-image" class="h-100 w-100">
                        </div>
                    </div>
                    <div class="card-footer text-center ">
                        {{doc.title}} - {{forloop.counter}} / {{doc.pages|length}}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-10 row">
            <div class="col-sm-8 table-container">
                {% for doc in documents %}
                <table id="doc-{{doc.id}}-table" data-docindex="{{forloop.counter}}"
                    class="doc-table table {% if forloop.counter != 1 %} d-none {% endif %}">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <div class="d-inline-block">
                                    {{doc.title}}
                                </div>
                            </th>
                            <th class="text-end">
                                <div class="d-block mb-3">
                                    <label for="doc-{{doc.id}}-grade">Optional Document Grade:</label>
                                    <input onchange="saveGrade(this)" id="doc-{{doc.id}}-grade" data-docid="{{doc.id}}" value="{{doc.grade}}" class="d-inline-block form-control w-25 ms-3" type="number" max="100">
                                    <span class="d-inline-block">&nbsp;/100</span>
                                </div>

                                <button onclick="saveDocumentNotes({docID: `{{doc.id}}`, showToast: true});"
                                    data-bs-placement="top" data-bs-toggle="tooltip"
                                    title="Click to save notes for this document only (the below table)" role="button"
                                    type="button" class="btn-success btn btn-md"><i class="fa fa-save fa-sm"></i> Save
                                    Notes for
                                    {{doc.title}}</button>
                                <button type="button" class="btn btn-info btn-md" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Use the up and down arrows to move between documents; use the left and right arrows to move between pages on a document. When editing notes, be sure to save before leaving the page.">
                                    <i class="fa fa-question fa-sm"></i> Help
                                </button>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" scope="col">Page</th>
                            <th class="text-center" scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in doc.pages %}
                        <tr class="align-middle text-center tr-doc-page {% if forloop.counter == 1 %} table-active {% endif %}"
                            id="tr-doc-{{doc.id}}-page-{{page.id}}" data-pageid="{{page.id}}"
                            data-pageindex="{{forloop.counter}}">
                            <td>{{forloop.counter}}</td>
                            <td><textarea class="w-100 form-control" rows="5">{{page.notes}}</textarea></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
            <div class="col-sm-4 preview-container">
                {% for doc in documents %}
                <div class="doc-preview position-fixed {% if forloop.counter != 1 %} d-none {% endif %}"
                    data-currentpage="1" data-docindex="{{forloop.counter}}" id="doc-{{doc.id}}-preview">
                    {% for page in doc.pages %}
                    <div class="card w-100 multiview-page border border-dark rounded {% if forloop.counter != 1 %} d-none {% endif %} "
                        data-pageindex="{{forloop.counter}}">
                        <div class="card-body">
                            <div class="page-image">
                                <img src="{% if use_s3 %} {{page.s3_private_image_url}} {% else %} {{page.image.url}} {% endif %} " id="large-page-{{page.id}}-image" class="h-100 w-100">
                            </div>
                        </div>
                        <div class="card-footer text-center ">
                            {{doc.title}} - {{forloop.counter}} / {{doc.pages|length}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="text-center">
                        <button data-bs-placement="top" data-bs-toggle="tooltip"
                            title="Click to save notes for all {{documents|length}} documents" type="button"
                            class="btn btn-lg btn-success w-100" role="button" onclick="saveAllDocumentNotes()">
                            <i class="fa fa-sm fa-save"></i> Save All Notes</button>
                    </div>

                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<script>
    let saveGrade = (gradeInputElem) => {
        let grade = gradeInputElem.value;
        let docId = gradeInputElem.dataset.docid;
        console.log('saving grade');
        fetch(`/document/${docId}/grade/`, {
            method: "POST",
            body: JSON.stringify({
                grade: grade
            }),
            headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": CSRF_TOKEN,
            },
        }).then(response=>response.json())
        .then(data=>{
            console.log(data);
            // show toast
            let toast = document.querySelector(".toast");
            toast.querySelector(".toast-bold").textContent = 'Success';
            toast.querySelector(".toast-when").textContent = "Just Now";
            toast.querySelector(
            ".toast-body"
            ).textContent = `Grade updated to ${grade} for doc ${docId}`;
            TOAST.show();
        })
    }
</script>
<style>
    .multiview-document {
        position: relative;
        max-width: 175px;
        cursor: pointer;
    }

    .multiview-document.active .card {
        background-color: rgb(132, 130, 238);
    }

    .document-multiview-right-panel {
        position: relative;
        width: auto;
    }
</style>

{% endblock %}